<div id="<%= dom_id bill %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= bill.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= bill.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Npa:</strong>
    <%= bill.npa %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= bill.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= bill.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= bill.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Iban:</strong>
    <%= bill.iban %>
  </div>
</div>
